<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-cyan hover-expand-effect">
        <div class="icon">
            <i class="material-icons">query_builder</i>
        </div>
        <div class="content">
            <div class="text">Molhos Em Uso</div>
            <div class="number">{{countEmUso}}</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-light-green hover-expand-effect">
        <div class="icon" > 
            <i class="material-icons">playlist_add_check</i>
        </div>
        <div class="content">
            <div class="text" style="font-size:12px!important;">Molhos Devolvidos</div>
            <div class="number">{{countDevolvidos}}</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-orange hover-expand-effect">
        <div class="icon" ">
            <i class="material-icons">help</i>
        </div>
        <div class="content">
            <div class="text">Molhos Em Alerta</div>
            <div class="number">{{countAlerta}}</div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red hover-expand-effect">
        <div class="icon">
            <i class="material-icons">search</i>
        </div>
        <div class="content">
            <div class="text">Molhos Perdidos</div>
            <div class="number">{{countPerdido}}</div>
        </div>
    </div>
</div>