{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="block-header">
        <h2>DASHBOARD REGISTRO</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix dashboard-molhos">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">query_builder</i>
                </div>
                <div class="content">
                    <div class="text">À Devolver</div>
                    <div class="number count-to" data-from="0" data-to="{{nao_devolvidos|length}}" data-speed="15" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon" >
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text" style="font-size:12px!important;">Devolvidos</div>
                    <div class="number count-to" data-from="0" data-to="{{ devolvidos|length }}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content">
                    <div class="text">Atrasados</div>
                    <div class="number count-to" data-from="0" data-to="{{ atrasados|length }}" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Widgets -->
    <!-- Formulários carregados via ajax -->
    <div class="row clearfix">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header text-center"><h2>Saida</h2></div>
                  <div id="saidaform" class="container-fluid">

                  </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="header text-center"><h2>Retorno</h2></div>
                <div id="retornoform" class="container-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- #Final dos Formulários-->
    <!-- Tabela dos registros -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Registros</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="panel-switch-btn">
                            <a id="modal-511775" href="#modal-container-511775" role="button" class="btn btn-primary pull-right btn-new" data-toggle="modal">Novo</a>
                        </div>
                    </div>
                </div>
            </div>

              <div class="container-fluid">
              	<div class="row">
              		<div class="col-md-12">
              			<div class="tabbable" id="tabs-978655">
              				<ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#panel-adevolder" class='adevolder' data-toggle="tab">À devolver</a>
                                </li>
                                <li>
                                    <a href="#panel-atrasados" class='atrasados' data-toggle="tab">Atrasados</a>
                                </li>
                                <li>
              						<a href="#panel-devolvidos" class='devolvidos' data-toggle="tab">Devolvidos</a>
              					</li>
              				</ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-adevolder">

                                </div>
                                <div class="tab-pane" id="panel-atrasados">

                                </div>
                                <div class="tab-pane" id="panel-devolvidos">

              					</div>
              				</div>
              			</div>
              		</div>
              	</div>
              </div>

            </div>
        </div>
    </div>
    <!-- #Final da Tabela de resgistros -->
</div>
{% endblock content %}

{% block extrajs %}
<!-- custom Js -->
<script src="{% static 'js/custom.js' %}"></script>
<script>

    var csrftoken = $.cookie('csrftoken');

    // recarrega os formulários e as tabelas
    function reloadDatas(){
      loadSaidaForm("{% url 'registro:saida' %}")
      loadDevolucaoForm("{% url 'registro:devolucao' %}")
      setTimeout(function(){
        $('.adevolder').click();
      },200);
    }
    reloadDatas()

    // Envio dos formulário via ajax
    $(document).on('submit', '.sendform', function(e){

        e.preventDefault();

        $.ajax({
            type: "POST",
            url : $(this).attr('action'),
            traditional: true,
            data: $(this).serialize(),
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function (retorno) {
              reloadDatas();
              $.notify({
                	title: '<strong>Salvo!</strong>',
                	message: 'seu registro foi atualizado com sucesso'
                },{
                	type: 'success',
                  animate: {
                  		enter: 'animated fadeInRight',
                  		exit: 'animated fadeOutRight'
                  	}
                }
              );

            },
            error: function (retorno) {
                data = JSON.parse(retorno.responseJSON);
                var keys = Object.keys(data);
                // var val = Object.val(data);
                for (i = 0; i < keys.length; i++) {
                    var res = keys[i].replace("_", " ");
                    // toastr.error(data[keys[i]][0].message, res.toUpperCase() + ' !')
                    $.notify({
                        title: '<strong>'+res.toUpperCase() +'!</strong>',
                        message: data[keys[i]][0].message
                      },{
                        type: 'danger',
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                          }
                      }
                    );
                }

            }
        });
    });

    // atualiza as abas via ajax
    $('a[data-toggle="tab"]').click(function(event) {
      var filter_by = $(this).attr("class");
      var aba = $(this).attr("href");
      $.ajax({
          type: "POST",
          url: "{% url 'filter' %}",
          data: {'filter_by': filter_by},
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function(data){
            $(aba).html(data);
          }
      });
    });
    function onChangePropriedade(){
        $('#id_propriedade').on('change',function(){
            var idPropriedade = $(this).val();
            var durl = window.location.protocol+'//'+window.location.host+"/registro/getmolhos/"+idPropriedade+"/";
            $.ajax({
                type: "POST",
                url: durl,
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(data){
                    $('#id_molhos').html(data);
                    $('#id_molhos').selectpicker("refresh");
                }
            });
        });
    }

    function updateDashBoard(){
        var durl = window.location.protocol+'//'+window.location.host+"/updateDashboard/";
        $.ajax({
            type: "POST",
            url: durl,
            beforeSend: function(xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data){
                $('.dashboard-molhos').html(data);
            }
        });
    }

    $(document).ready(function() {

        $('.table:not(.noDataTable)').DataTable({
            responsive: true
        });

    });
</script>
{% endblock %}
