{% extends 'base.html' %}
{% load widget_tweaks %}
{% load check_type_field %}
{% block content %}
<div class="container-fluid">
    <!-- <div class="block-header">
        <h2>Adicionar Propriedade</h2>
    </div> -->
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Adicionar {{objeto}}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="panel-switch-btn">
                                  <!-- <a href="{% url 'propriedade:create' %}" class="btn btn-primary">Nova</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <!-- <div id="real_time_chart" class="dashboard-flot-chart"></div> -->
                <form method="POST">
                    {% csrf_token %}
                    {% for field in userForm %}
                      <label for="password">{{field.label}}</label>
                      <div class="form-group">
                          <div class="form-line">
                              {{ field|attr:"class:form-control" }}
                          </div>
                      </div>
                     {% endfor %}
                    {% for field in form %}
                      <label for="password">{{field.label}}</label>
                      <div class="form-group">
                          <div class="form-line">
                              {{ field|attr:"class:form-control" }}
                          </div>
                      </div>
                     {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Salvar</button>
                </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $('.table').DataTable();
        $('select').selectpicker({
            style: 'btn-info',
            size: 4
        });

    });
</script>
{% endblock extrajs %}
