{% extends 'base.html' %}
{% load widget_tweaks %}
{% load check_type_field %}
{% block content %}
<div class="container-fluid">
    <!-- <div class="block-header">
        <h2>Adicionar Propriedade</h2>
    </div> -->
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Adicionar {{objeto}}</h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="panel-switch-btn">
                                  <!-- <a href="{% url 'propriedade:create' %}" class="btn btn-primary">Nova</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <!-- <div id="real_time_chart" class="dashboard-flot-chart"></div> -->
                <form method="POST">
                    {% csrf_token %}
                    {% for field in userForm %}
                      <label for="password">{{field.label}}</label>
                      <div class="form-group">
                          <div class="form-line">
                              {{ field|attr:"class:form-control" }}
                          </div>
                      </div>
                    {% endfor %}
                    {% if userForm.errors %}
                      {% for field in userForm %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in userForm.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                      {% endfor %}
                    {% endif %}
                    {% for field in form %}
                      <label for="password">{{field.label}}</label>
                      <div class="form-group">
                          <div class="form-line">
                              {{ field|attr:"class:form-control" }}
                          </div>
                      </div>
                     {% endfor %}
                     {% if form.errors %}
                       {% for field in form %}
                             {% for error in field.errors %}
                                 <div class="alert alert-danger">
                                     <strong>{{ error|escape }}</strong>
                                 </div>
                             {% endfor %}
                         {% endfor %}
                         {% for error in form.non_field_errors %}
                             <div class="alert alert-danger">
                                 <strong>{{ error|escape }}</strong>
                             </div>
                       {% endfor %}
                     {% endif %}
                    {% for field in enderecoForm %}
                      <label for="password">{{field.label}}</label>
                      <div class="form-group">
                          <div class="form-line">
                              {{ field|attr:"class:form-control" }}
                          </div>
                      </div>
                     {% endfor %}
                     {% if enderecoForm.errors %}
                       {% for field in enderecoForm %}
                             {% for error in field.errors %}
                                 <div class="alert alert-danger">
                                     <strong>{{ error|escape }}</strong>
                                 </div>
                             {% endfor %}
                         {% endfor %}
                         {% for error in enderecoForm.non_field_errors %}
                             <div class="alert alert-danger">
                                 <strong>{{ error|escape }}</strong>
                             </div>
                       {% endfor %}
                     {% endif %}
                    <br>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Salvar</button>
                </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}

{% block extrajs %}
<script>
    $(document).ready(function(){
        $('.table').DataTable();
        $('select').selectpicker({
            style: 'btn-info',
            size: 4
        });
        $('#id_telefoneResidencial, #id_telefoneComercial, #id_celular1, #id_celular2').inputmask('(99) 99999-9999');
        $('#id_cep').inputmask('99999-999');
    });
</script>
{% endblock extrajs %}
