{% extends 'base.html' %} {% block content %}
<div class="container-fluid">

    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>{{propriedade.nome}}</h2>
                        </div>

                        <div class="col-xs-12 col-sm-6 align-right">
                            <div class="panel-switch-btn">
                                    <a href="{% url 'propriedade:update' propriedade.pk %}" class="btn btn-info">    <i class="material-icons">mode_edit</i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Tipo:</label> {{propriedade.tipo}}</br>
                                <label>Endereço:</label> {{propriedade.endereco.logradouro}}, {{propriedade.numero}}</br>
                                <label>Cidade:</label> {{propriedade.endereco.cidade}}</br>
                                <label>Estado:</label> {{propriedade.endereco.estado}}</br>
                                <label>Cep:</label> {{propriedade.endereco.cep}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title pull-left">
                                            Autorizações
                                        </h3>
                                        <a id="modal-511775" href="#modal-container-511775" propriedadeId="{{propriedade.pk}}" tipo="autorizacao" role="button" class="btn btn-primary pull-right btn-new" data-toggle="modal">Nova</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="panel-autorizacao">
                                            {% for autorizacao in propriedade.autorizacao_set.all %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <a href="#" onclick="deleteAutorizacao('{{autorizacao.pk}}','{{propriedade.pk}}');" class="btn btn-danger btn-delete-autorizacao pull-right">    <i class="material-icons">delete</i> </a>
                                                        <a tipo="autorizacao" propriedadeId="{{propriedade.pk}}" autorizacaoId="{{autorizacao.pk}}" role="button" class="btn btn-info btn-edit pull-right" data-toggle="modal">    <i class="material-icons">mode_edit</i> </a>
                                                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-{{autorizacao.pk}}" href="#panel-element-{{autorizacao.pk}}">{{autorizacao.autorizada}}  {{autorizacao.dataFim|date:'d/m/Y'}}</a>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div id="panel-element-{{autorizacao.pk}}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <label>Descrição:</label> {{autorizacao.descricao}}</br>
                                                            <label>Status:</label> {{autorizacao.status}}</br>
                                                            <label>Data Início:</label> {{autorizacao.dataInicio}}</br>
                                                            <label>Data Fim:</label> {{autorizacao.dataFim}}</br>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title pull-left">
                                            Molhos
                                        </h3>
                                        <a id="modal-511775" href="#modal-container-511775" propriedadeId="{{propriedade.pk}}" tipo="molho" role="button" class="btn btn-primary pull-right btn-new" data-toggle="modal">Novo</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row clearfix">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box bg-pink hover-expand-effect">
                                                    <div class="icon">
                                                        <i class="material-icons">playlist_add_check</i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">Novas Tarefas</div>
                                                        <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box bg-cyan hover-expand-effect">
                                                    <div class="icon">
                                                        <i class="material-icons">help</i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">NEW TICKETS</div>
                                                        <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box bg-light-green hover-expand-effect">
                                                    <div class="icon">
                                                        <i class="material-icons">forum</i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">NEW COMMENTS</div>
                                                        <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box bg-orange hover-expand-effect">
                                                    <div class="icon">
                                                        <i class="material-icons">person_add</i>
                                                    </div>
                                                    <div class="content">
                                                        <div class="text">NEW VISITORS</div>
                                                        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="panel-footer">
                                            Panel footer
                                        </div> -->
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-511775" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                 <a id="modal-361229" href="#modal-container-361229" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
                
                <div class="modal fade" id="modal-container-361229" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                 
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Molho X
                                </h4>
                            </div>
                            <div class="modal-body">
                                    <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <div class="clearfix">
                                                                <a id="modal-511775" href="#modal-container-511775" propriedadeId="{{propriedade.pk}}" tipo="molho" role="button" class="btn btn-primary pull-right btn-new" data-toggle="modal">Novo</a>
                                                                <h3 class="panel-title">
                                                                    Chaves
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                                <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    #
                                                                                </th>
                                                                                <th>
                                                                                    Product
                                                                                </th>
                                                                                <th>
                                                                                    Payment Taken
                                                                                </th>
                                                                                <th>
                                                                                    Status
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    1
                                                                                </td>
                                                                                <td>
                                                                                    TB - Monthly
                                                                                </td>
                                                                                <td>
                                                                                    01/04/2012
                                                                                </td>
                                                                                <td>
                                                                                    Default
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                        </div>
                                                        <div class="panel-footer">
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                    <div class="clearfix">
                                                                        <a id="modal-511775" href="#modal-container-511775" propriedadeId="{{propriedade.pk}}" tipo="molho" role="button" class="btn btn-primary pull-right btn-new" data-toggle="modal">Novo</a>
                                                                        <h3 class="panel-title">
                                                                            Controles
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                        <div class="panel-body">
                                                                <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    #
                                                                                </th>
                                                                                <th>
                                                                                    Product
                                                                                </th>
                                                                                <th>
                                                                                    Payment Taken
                                                                                </th>
                                                                                <th>
                                                                                    Status
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    1
                                                                                </td>
                                                                                <td>
                                                                                    TB - Monthly
                                                                                </td>
                                                                                <td>
                                                                                    01/04/2012
                                                                                </td>
                                                                                <td>
                                                                                    Default
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                        </div>
                                                        <div class="panel-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="modal-footer">
                                 
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button> 
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    var csrftoken = $.cookie('csrftoken');
    function deleteAutorizacao(autorizacaoId, propriedadeId){
       
        var durl = window.location.protocol+'//'+window.location.host+"/autorizacao/delete/"+autorizacaoId+"/";
        $.ajax({
            type: "POST",
            url: durl,
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data){
                refreshAutorizacoes(propriedadeId)
            },
            error: function (data, xhr, ajaxOptions, thrownError) {
                alert('erro ao deletar');
            }
        });
    }

    function refreshAutorizacoes(propriedadeId){
        var durl = window.location.protocol+'//'+window.location.host+"/autorizacao/getbypropriedade/"+propriedadeId+"/";
        $.ajax({
            type: "GET",
            url: durl,
            success: function(data){
                $('#panel-autorizacao').html(data);
            },
        });
    }

    function refreshMolhos(propriedadeId){
        var durl = window.location.protocol+'//'+window.location.host+"/autorizacao/getmolhobypropriedade/"+propriedadeId+"/";
        $.ajax({
            type: "GET",
            url: durl,
            success: function(data){
                $('#panel-autorizacao').html(data);
            },
        });
    }
    
    $(document).ready(function(){

        $('.btn-new').on('click',function(){
          var tipo = $(this).attr('tipo');
          var propriedadeId = $(this).attr('propriedadeId');

          if(tipo === "autorizacao"){
            //chama ajax de autorização
            var durl = window.location.protocol+'//'+window.location.host+"/autorizacao/create/"+propriedadeId+"/";
            $.ajax({
                type: "GET",
                url: durl,
                success: function(data){
                    html = $.parseHTML(data);
                    $('.modal-title').html("Nova Autorização");

                    $('.modal-body').html(html);
                    $('form', $('.modal-body')).attr('action', durl);
                    $('#id_dataFim', $('.modal-body')).datetimepicker({
                        format: 'd/MM/Y H:m',
                    });
                    $('#id_dataInicio', $('.modal-body')).datetimepicker({
                        format: 'd/MM/Y H:m',
                    });
                
                    $('form', $('.modal-body')).submit(function(e){
                        e.preventDefault();
                        $.ajax({
                            type: "POST",
                            url: durl,
                            data: $('form', $('.modal-body')).serialize(),
                            success: function(data){
                                refreshAutorizacoes(propriedadeId)
                                $('.modal').modal('hide');
                            },
                            error: function (data, xhr, ajaxOptions, thrownError) {
                                $('.modal-body').html(data.responseText);
                            }
                        });
                    });
                }
            });
          }else{
              //chama ajax de Molho
              var durl = window.location.protocol+'//'+window.location.host+"/molho/create/"+propriedadeId+"/";
              $.ajax({
                type: "GET",
                url: durl,
                success: function(data){
                    html = $.parseHTML(data);
                    $('.modal-title').html("Novo Molho");

                    $('.modal-body').html(html);
                    $('form', $('.modal-body')).attr('action', durl);
                
                    $('form', $('.modal-body')).submit(function(e){
                        e.preventDefault();
                        $.ajax({
                            type: "POST",
                            url: durl,
                            data: $('form', $('.modal-body')).serialize(),
                            success: function(data){
                                refreshMolhos(propriedadeId)
                                $('.modal').modal('hide');
                            },
                            error: function (data, xhr, ajaxOptions, thrownError) {
                                $('.modal-body').html(data.responseText);
                            }
                        });
                    });
                }
            });
          }
        });
        $(document).on('click', '.btn-edit', function(){
            var tipo = $(this).attr('tipo');
                // $('.btn-edit').on('click',function(){
            var autorizacaoId = $(this).attr('autorizacaoId');
            var propriedadeId = $(this).attr('propriedadeId');

            if(tipo === "autorizacao"){
                //chama ajax de autorização
                var durl = window.location.protocol+'//'+window.location.host+"/autorizacao/update/"+autorizacaoId+"/";
                $.ajax({
                    type: "GET",
                    url: durl,
                    success: function(data){
                        html = $.parseHTML(data);
                        $('.modal-title').html("Editar Autorização");
                        $('.modal-body').html(html);
                        $('form', $('.modal-body')).attr('action', durl);
                        $('.modal').modal('show');
                        $('form', $('.modal-body')).submit(function(e){
                            e.preventDefault();
                            $.ajax({
                                type: "POST",
                                url: durl,
                                data: $('form', $('.modal-body')).serialize(),
                                success: function(data){
                                    refreshAutorizacoes(propriedadeId)
                                    $('.modal').modal('hide');
                                },
                                error: function (data, xhr, ajaxOptions, thrownError) {
                                    $('.modal-body').html(data.responseText);
                                }
                            });
                        });
                    }
                });
            }else{
              //chama ajax de Molho

            }
        });

    });
</script>
{% endblock extrajs %}
